.container {
    position: relative;
    width: 33.333%;
    padding-bottom: 25%;
}

.button {
    position: absolute;
    inset: 0.5rem;
    user-select: none;

    background-color: var(--primary-dark);

    border: 1px solid var(--primary-light);
    border-radius: 1.5rem;
    box-shadow: inset 0 0 0.25rem var(--primary-light), 0 0 0.25rem var(--primary-light);

    font-size: 3rem;
    color: var(--primary-light);
    text-shadow: var(--primary-light) 0 0 2rem;

    transition: all 150ms ease-out;
}

.active {
    color: var(--primary-dark);
    background-color: var(--primary-light);
    box-shadow: inset 0 0 0.25rem var(--primary-light), 0 0 1rem 0.5rem var(--primary-light);
}
