.container {
    position: relative;
    width: 33.333%;
    padding-bottom: 25%;
}

.button {
    position: absolute;
    background-color: mediumspringgreen;
    inset: 0.5rem;
    font-size: 3rem;
    border-radius: 1.5rem;
}
