.container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.display {
    --hud: var(--primary-light);

    margin: auto;
    line-height: 0;

    font-size: 4rem;
    color: var(--hud);
    text-shadow: var(--hud) 0 0 2rem, var(--hud) 0 0 4rem, var(--hud) 0 0 8rem;
}

.error {
    color: red;
}

.gaugeContainer {
    position: absolute;

    display: flex;
    align-items: end;
    width: 3rem;
    height: 90%;
    right: 1rem;
}

.gauge {
    width: 100%;
    background-color: mediumspringgreen;
}
