.container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.display {
    margin: auto;
    font-size: calc(15 * var(--vw));
    line-height: 0;
    color: deepskyblue;
}

.error {
    color: red;
}

.gaugeContainer {
    position: absolute;

    display: flex;
    align-items: end;
    width: calc(10 * var(--vw));
    height: 90%;
}

.gaugeContainerLeft {
    left: calc(5 * var(--vw));
}

.gaugeContainerRight {
    right: calc(5 * var(--vw));
}

.gauge {
    width: 100%;
    background-color: mediumspringgreen;
}
