:root {
    --primary-dark: #022c22;
    --primary-light: #6ee7b7;

    background-color: black;
    font-size: 3.2vw;
}

.container {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
}

@media (min-width: 500px) {
    :root {
        font-size: 16px;
    }

    .container {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}